{% extends 'base.html' %}
{% block content %}
{% load static %}

    <h1>Add An Event</h1>
    <form action="" class="form"  method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>      
        <input type="submit" value="Submit!" class="btn">
      </form>

<!-- JS to create a date picker and init the meal dropdown -->
<script>
    // create a datepicker
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
</script> 
{% endblock %}