{% extends 'base.html' %}
{% block content %}
{% load static %}

    <form class="create" action="" class="form"  method="post">
      {% if object %}
        <h1>Edit Event <span class="teal-text">{{object.name}}</span></h1>
      {% else %}
        <h1>Add Event</h1>
        {% endif %}
        {% csrf_token %}
        {{ form.as_table }} 
        <p class="dateInfo"> Date & Time must be in the following format:
          <br>
          yyyy-mm-dd hh:mm
        </p>
        <div class="submit">
            <input type="submit" value="Submit!" class="btn">
        </div>

    </form>

{% endblock %}
