{% extends 'base.html' %}
{% block content %}
{% load static %}

        <h1>Delete Item</h1>
        <br />
        <h4 id="delete">Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>
      <br />
      <br />
        <form id="delete" action="" method="POST">
          {% csrf_token %}
          <input id="delete" type="submit" value="Yes - Delete!" class="btn">
          <br />
          <br />
          <br />
          <a href="{% url 'groups_delete' group.id %}">Cancel</a>
        </form>

{% endblock %}
