
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Delete Item</h1>

        <h4>Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>
      
        <form action="" method="POST">
          {% csrf_token %}
          <input type="submit" value="Yes - Delete!" class="btn">
          <a href="{% url 'groups_delete' group.id %}">Cancel</a>
        </form>
</body>
</html>
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
