{% extends 'base.html' %}
{% block content %}
{% load static %}

        <h1>Delete Item</h1>
        <hr>
        <br />
        
            <div class="d-flex justify-content-center">
        <h4>Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>
      <br />
      <br />
      <br />
      
      </div>
      <div class="d-flex justify-content-center">
        <form action="" method="POST">
          {% csrf_token %}
          <input id="delete" type="submit" value="Yes - Delete!" class="btn">
          </div>
          <br />
          
          <div class="d-flex justify-content-center">
          <a href="{% url 'groups_delete' group.id %}">Cancel</a>
        </form>
</div>
{% endblock %}
