{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 id="allGroupHeading">All Events</h1>


{% for event in events %}
<a href="{% url 'detail' event.id %}"></a>
<div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ group.name }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{ event.date }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{ event.time }}</h6>
          <p class="card-text">{{ event.description }}</p>
          <a style="color:#FFFFF0;" class="nav-link" href="{% url 'details' %}">Details</a> 
          <a style="color:#FFFFF0;" class="nav-link" href="{% url 'update' %}">Edit</a> 
        </div>
</div>


{% endfor %}


{% endblock %}