{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>All Events</h1>
<hr>

<div class="row"> 
{% for event in events %}
<div class="col m-1">
<div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <hr>
          {% for group in event.group.all %}
          <h5 class="card-title">{{ group.name }}</h5>
               {% endfor %}
          
          <h6 class="card-title">{{ event.location }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{ event.date }}</h6>
          <p class="card-text">{{ event.description }}</p>
          <i class="material-icons">menu</i>
          <a style="color:#d55e00;" class="nav-link" href="/events/{{ event.id }}">Event Details</a>
          <i class="material-icons">create</i>
          <a style="color:#d55e00;" class="nav-link" href="{% url 'events_update' event.id %}">Edit Event</a>

        </div>
</div>
</div>
{% endfor %}
</div>


{% endblock %}

