{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="card">
    <div class="card-body">
      <h3 class="card-title">{{ group.name }}</h3>
      <p class="card-text">{{ group.description }}</p> 
      <p class="card-text">{{ group.users }}</p> 
      <p class="card-text">{{ group.user }}</p> 
      <br />
      <br />
      <a style="color:#FFFFF0;" class="nav-link" href="{% url 'groups_update' group.id %}">Edit Group</a>
      <a style="color:#d55e00;" class="nav-link" href="{% url 'groups_delete' group.id %}">Delete Group</a> 

    </div>
</div>

  {% endblock %}

