{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>Details</h1>
<hr>
<div class="card">
    <div class="card-body">
      <h5 id="title" class="card-title">{{ group.name }}</h5>
      <hr>
      <p class="card-text">{{ group.description }}</p> 
      <br />
      <br />
      
      <i class="material-icons">create</i>
      <a style="color:#d55e00;" class="nav-link" href="{% url 'groups_update' group.id %}">Edit Group</a>
      <i class="material-icons">delete_sweep</i>
      <a style="color:#d55e00;" class="nav-link" href="{% url 'groups_delete' group.id %}">Delete</a> 

    </div>
</div>

  {% endblock %}

