{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>All Groups</h1>

<div class="row"> 
  {% for group in groups %}
  <div class="col m-1">
  <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ group.name }}</h3>
          <h6 class="card-text">{{ group.description }}</h6> 
          <br>
          <p class="card-text">{{ group.users }}</p> 
          <br />
          <br>
              <a style="color:#FFFFF0;" class="nav-link" href="/groups/{{ group.id }}">Group Details</a>
              <a style="color:#d55e00;" class="nav-link" href="/events/new">Create Event</a>
        </div>
      </div>
      </div>
      {% endfor %}
      </div>
      
      
      
      {% endblock %}