{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>All Groups</h1>

<div class="row"> 

<div class="col m-1">
<div class="card">
    {% for group in groups %}
        <div class="card-body">
          <h5 class="card-title">{{ group.name }}</h5>
          <p class="card-text">{{ group.description }}</p> 
          <a style="color:#d55e00;" class="nav-link" href="/groups/{{ group.id }}">Group Details</a>
          <a style="color:#d55e00;" class="nav-link" href="/events/new">Create Event</a>
          <a style="color:#d55e00;" class="nav-link" href="{% url 'groups_update' group.id %}">Edit Group</a>
          <a style="color:#d55e00;" class="nav-link" href="{% url 'groups_delete' group.id %}">Delete</a> 
        </div>
      </div>
      {% endfor %}
      </div>
      
      
      
      {% endblock %}