{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>All Groups</h1>

{% for group in groups %}
<div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ group.name }}</h5>
          <a style="color:#FFFFF0;" class="card-link" href="/events/new">Create Event</a>
          <a style="color:#FFFFF0;" class="card-link" href="{% url 'groups_update' group.id %}">Edit Group</a>
          <a style="color:#FFFFF0;" class="card-link" href="{% url 'groups_delete' group.id %}">Delete</a> 

        </div>
</div>
{% endfor %}
{% endblock %}