{% extends 'base.html' %}
{% block content %}
{% load static %}

 <h1>Sign Up</h1>

<div id="signup" class="container">
  <div class="row">
      <div class="col">
   {% if error_message %}<p>{{ error_message }}</p>{% endif %}
    <img src={% static "/images/signup.jpg" %} width="440" height="600" title="Come On In Sign" alt="Come On In Sign"></a>
      </div>
      <div id="signform" class="col">

    <form id="log" method="post" autocomplete="off" action="{% url 'signup' %}">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn" value="Sign Up">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
      </div>  
  </div>
</div> 


{% endblock %}