{% extends 'base.html' %}
{% block content %}
{% load static %}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col">
        <img src={% static "/images/friends.jpg" %} width="500" height="400" title="Friends" alt="Friends"></a>
    </div>
    <div class="col">
        <br>
        <br>
        <h2> All the frustration of planning a happy hour is now a thing of the past!</h2>
        <br>
        <br>
        <h4>Happiest Hour helps groups of friends, coworkers or teammates
            suggest a place, <!-- poll the group,  -->
            set a time and send directions all in one place.
        </h4>
      </div>  
    </div>
</div>
<br>

{% endblock %}

