{% extends 'base.html' %}
{% block content %}
{% load static %}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-6">
        <img src={% static "/images/friends.jpg" %} width="500" height="400" title="Friends" alt="Friends"></a>
    </div>
    <div class="col-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, 
          sapien dui mattis dui, non pulvinar lorem felis nec erat</p>
      </div>  
    </div>
</div>


{% endblock %}