 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { ... }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { ... }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { ... }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }
 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

html {
  height: 100%;
}
.navbar.navbar-expand-lg.navbar-light.bg-warning
{
background: #155263 !important;

}
li.nav-item {
  padding-top: 50px;
  text-align: right;
}
.main {
background: #ffc93c;
min-height: 850px;
height: 100%;
padding: 10px;
}
.footer {
background: #155263;
height: 120px;
}
.form-control {
width: 50%;
}

.card {
  width: 500px;
  height: 300px;
  margin: 30px;
  float: none;
  }

.card-body {
background: linear-gradient(110deg, #FFFFF0 60%, #ffed4b9a 60%);
min-height: 330px;
width: 500px;
padding: 20px 0 0 30px;
border: 5px solid #307e94;
border-radius: 5px;
box-shadow: 0 5px 8px #464646;
}

#home {
  text-align: baseline;
}
i.material-icons {
color: #d55e00;
}

a.card-link {
  font-size: 16px;
  display: inline;
  padding: 15px;
}

a.nav-link {
  font-size: 20px;
  display: inline;
  padding-left: 0;
  padding-right: 50px;
}

a.card-link:hover {
  color: #d55e00
}

a.nav-link:hover {
  color: #FFFFF0
}

#content {
color: #FFFFF0;
} 
body {
font-family: 'Bitter', serif;
}

label {
  /* color: #d55e00; */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  width: 120px;
  display: grid;
  justify-content: left;
}

td {
width: 50px;
display: inline-block;
}

select{
  width: 379px;
  margin: 2px;
  color: #464646;
}
h1 {
  color: #ff6f3c;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: 'Bitter', serif;
  color: #155263;
  line-height: 42px;

}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  margin-left: 15px;
  line-height: 30px;
}

form {
display: grid;
justify-content: left;  
}  

label {
  margin: 0 0 0 10px;
}

input {
  width: 380px;
}

#delete {
text-align: center;  
justify-content: center;
display: inline-block;
}

/* sign in button */
.btn {
width: 200px;    
height: 50px;
background: #155263;   
color: #FFFFF0;
}
/* Sign Up form */
#signup
{
 width: 900px;   
 font-size: 14px;
text-align: center;
border: 5px solid #155263; 
box-shadow: 0 5px 10px #464646;
border-radius: 6px;    
justify-content: baseline;
padding: 0;
}
#signform {  
background: #c6d2d2;
border-radius: 2px;
margin-left: -16px;
margin-right: 15px;
}
#signupLink {
text-align: start;
}
div#happyLogo.col {
  padding: 0;
  margin-left: 20px;
}

div#joinToday.col {
padding: 0 !important;
}
#log {
  width: 400px;
  text-align: left;
  margin-bottom: 8px;
}

a {
  color: #155263;
  font-size: 25px;
  display: grid;
  text-align: end;
}

a:hover {
  color: #FFFFF0;
  text-decoration: none;
}
.card-body-links {
  margin-top: 200px;
  display: inline;
  padding-top: 100px;
}

form.login, form.create, input.btn, input#addevent, .submit {
  display: grid;
  justify-content: center;
}
#title {
font-size: 30px;
color: #155263;
}

.dateInfo {
  font-size: 12px;
  text-align: center;
}


div.col.m-1{
  display: grid;
  justify-content: center;
}