 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { ... }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { ... }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { ... }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }
 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

.navbar.navbar-expand-lg.navbar-light.bg-warning
{
background: #155263 !important;
}
a.nav-link {  
font-size: 18px;
}
.nav-item {
padding-top: 70px;    
}
.main {
background: #ffc93c;
height: 800px;
padding: 10px;
}
.footer {
background: #155263;
height: 120px;
}
.form-control {
width: 50%;
}
.card {
width: 400px;
margin: 20px;
float: none;
}
#content {
color: #FFFFF0;
} 
body {
font-family: 'Bitter', serif;
}

label {
  color: #FFFFF0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: 300;
  width: 120px;
  display: grid;
  justify-content: left;
  font-weight: bold;
}

td {
width: 50px;
display: inline-block;
}

select{
  width: 379px;
  margin: 2px;
  color: #464646;
}

h2 {
  font-family: 'Bitter', serif;
  color: #155263;
  text-align: center;
  line-height: 42px;

}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  margin-left: 15px;
  line-height: 30px;
}

form {
justify-content: center;  
}  
/* form {   
display: inline-block; 
text-align: center;
border: 1px solid; 
padding: 20px;
border-radius: 2px;
box-shadow: 0px 5px #464646;
margin: 10px;
color: #464646;
width: 550px;
} */

/* events cards */
.card-body {
background: #ff9a3c;
height: 220px, auto;
width: 500px;
}

#delete {
text-align: center;  
justify-content: center;
}
.btn {
width: 200px;    
height: 50px;
background: #155263;   
color: #FFFFF0;
}
/* Sign Up form */
#signup
{
 width: 800px;   
 font-size: 14px;
text-align: center;
border: 1px solid; 
border-radius: 2px;    
justify-content: baseline;
}

h1 {
  text-align: center;
  font-size: 40px;
}

a {
  color: #155263;
  font-size: 25px;
  display: grid;
  justify-content: center;
}

a:hover {
  color: #FFFFF0;
  text-decoration: none;
}

label {
  margin: 10px;
}

#log {
  border: 1px solid black;
  width: 400px;
  text-align: left;
}

a.card-link {
  font-size: 15px;
  margin-left: 18px;
  display: inline;
  padding: 15px;
  color: #FFFFF0;
}